@import libs/normalize.css
@import global
@import variables
@import fonts

.header
  background-color: $color-accent

  &__inner
    min-height: 80px
    display: flex
    justify-content: space-between
    align-items: center

.menu
  &__button
    width: 40px
    height: 40px
    border-radius: 3px
    background-color: $color-white
    border: none