@import libs/normalize.css
@import global
@import variables
@import fonts

.header
  background-color: $color-accent

  &__inner
    min-height: 80px
    display: flex
    justify-content: space-between
    align-items: center

.menu
  &__button
    position: relative
    width: 40px
    height: 40px
    border-radius: 3px
    background-color: $color-white
    border: none

    &::after
      content: ''
      position: absolute
      top: 15px
      left: 14px
      width: 12px
      height: 2px
      border-radius: 1px
      background-color: $color-accent
      box-shadow: 0 4px 0 0 $color-accent, 0 8px 0 0 $color-accent