@import libs/normalize.css
@import fonts
@import variables
@import global

// === HEADER ===
.header
  background-color: $color-accent

  &__inner
    min-height: 80px
    display: flex
    justify-content: space-between
    align-items: center

@media (min-width: 640px)
  .header
    &__inner
      min-height: 100px

.menu
  &__button
    position: relative
    width: 40px
    height: 40px
    border-radius: 3px
    background-color: $color-white
    border: none

    &::after
      content: ''
      position: absolute
      top: 15px
      left: 14px
      width: 12px
      height: 2px
      border-radius: 1px
      background-color: $color-accent
      box-shadow: 0 4px 0 0 $color-accent, 0 8px 0 0 $color-accent
// === / HEADER ===

// === HEAD ===
.head
  background-image: url(../images/head-background.jpg)
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  min-height: 193px

.top-slider
  background: rgba(33, 33, 33, .5)
  &__item
    color: $color-white
    text-align: center
  &__title
    padding: 36px 0 28px
    @include roboto-cond400
    font-size: 28px
    line-height: 28px
    text-transform: uppercase
// === / HEAD ===
